{% extends 'layout-paper.html' %}

{% block title %}Como utilizar{% endblock %}
{% block paper_title %}Como utilizar{% endblock %}

{% block paper_body %}
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates rem sapiente necessitatibus delectus magnam modi. Laborum alias atque facilis, suscipit, assumenda asperiores vero maiores laboriosam, fugit a similique aperiam eum!
        Corporis velit deserunt ab natus fuga culpa, dolorem eaque unde qui aperiam atque adipisci accusamus eum porro alias animi, vero a incidunt! Labore sed reprehenderit aspernatur animi magni cumque ipsam?
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum libero eaque quasi minima officiis tempore! Nesciunt alias nemo distinctio, animi atque porro placeat perspiciatis culpa necessitatibus itaque sapiente mollitia aliquid.
        Deserunt quasi rerum harum inventore nostrum quia architecto blanditiis, nobis aliquam laboriosam eveniet officiis repudiandae ad eos ipsa sit vitae quo tempore cupiditate velit magnam doloremque molestias. Iusto, dolor optio?
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt aliquam amet vel, consectetur est dolore saepe dicta rerum sint voluptatum repellendus veniam eius at iste fuga voluptate, accusantium, obcaecati nisi.
        Labore maxime, nam excepturi ex quo dicta deserunt vitae atque asperiores tempore unde a vero molestias placeat delectus aliquam nulla maiores sit est autem ut eius minus sapiente. Dolor, perspiciatis.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quas non nisi officiis incidunt iure sapiente cum libero accusantium inventore magni iste recusandae debitis cumque, voluptas quos saepe commodi possimus?
        Deleniti, nisi repellendus. Maiores hic vero ipsum nihil perferendis laudantium reprehenderit omnis veniam recusandae cupiditate numquam aperiam, voluptates saepe. Aliquam quod nobis libero, rerum nisi qui magnam placeat voluptatum atque.
    </p>
{% endblock %}
