{% extends 'layout-paper.html' %}

{% block title %}Política de privacidade{% endblock %}
{% block paper_title %}Política de privacidade{% endblock %}

{% block paper_body %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, assumenda. Esse, quas ad. Corrupti atque molestias laudantium aperiam assumenda aliquid, fuga rem iusto, sit veniam beatae impedit hic rerum quae!
        Totam hic nobis culpa sed ut molestiae nisi nulla voluptatum possimus placeat, officia amet optio nesciunt natus ducimus fuga magni? Suscipit impedit quidem accusamus dignissimos doloribus repudiandae maxime eaque facilis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem sequi minima. Reiciendis ex dolorum molestiae, blanditiis rem corporis vel accusamus tenetur minima. Omnis natus officia cupiditate beatae dolorum nulla?
        Eum ullam nesciunt provident beatae magni perferendis, vel officiis corrupti animi excepturi impedit sint, quod quae sunt autem architecto aspernatur minima nobis dolorum distinctio fugiat et vero quibusdam! Excepturi, incidunt?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga labore dolorem blanditiis doloribus. Accusantium quibusdam laudantium aliquam neque minima quia est sit repellat? Hic ex delectus minima saepe libero ullam?
        Cumque, sunt expedita. Tenetur architecto velit commodi nisi cumque recusandae necessitatibus quis, quae error ad voluptatem sequi fugit suscipit quisquam provident atque fuga vel adipisci, doloremque sed dolor dolores culpa?
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid maiores blanditiis accusamus maxime similique ut quis veritatis animi eligendi et vel dignissimos, suscipit, libero atque quaerat. Voluptates earum quae harum?
        Sapiente reiciendis vitae minima quae placeat, amet architecto iure debitis! Vero dignissimos aliquam obcaecati doloribus ea asperiores molestiae recusandae, est excepturi facere ipsam veritatis nam voluptatum. Obcaecati ad commodi adipisci!
    </p>
{% endblock %}
