{% extends 'layout-main.html' %}

{% block title %}Produtos{% endblock %}

{% block main %}
    <h1 class="main-title">Produtos</h1>

    <div class="product">
        <div class="image"></div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam veritatis doloribus sit unde dicta perferendis maxime id expedita voluptatibus numquam officia placeat, aspernatur explicabo sequi impedit autem quis at voluptas?
        </p>
    </div>

    <div class="product">
        <div class="image"></div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At quisquam magni dolore nemo eos nam tempora quibusdam, itaque fugit animi ipsum, omnis alias! Non sed illo architecto veritatis dolorum maxime.
        </p>
    </div>

    <div class="product">
        <div class="image"></div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos fugit aperiam adipisci. Voluptatem ut voluptatibus omnis exercitationem ipsam quidem pariatur? Id placeat nesciunt minima quas quam repellat sed et fuga?
        </p>
    </div>
{% endblock %}
