{% extends 'layout-paper.html' %}

{% block title %}Termos de uso{% endblock %}
{% block paper_title %}Termos de uso{% endblock %}

{% block paper_body %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nesciunt natus quibusdam tempore autem, ipsum facere ducimus. Omnis iusto enim iste amet nesciunt non saepe! Labore repellendus esse natus ullam. Quas odio, similique optio accusamus fuga possimus laudantium debitis ipsa veritatis saepe neque quis, culpa explicabo commodi excepturi voluptates officia aliquid corrupti modi quod, consectetur ipsam? Facilis molestiae voluptate optio?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo inventore, at error accusamus architecto tenetur aliquam culpa qui commodi reprehenderit. Iure soluta doloribus itaque incidunt neque fuga vitae veniam reprehenderit?
        Exercitationem nesciunt voluptatibus fugiat ipsa explicabo, excepturi corporis cum quibusdam est, omnis ipsum odio ab voluptas voluptate consectetur maxime deleniti voluptatum mollitia molestias. Quasi itaque quos reprehenderit, ipsa magni repellat.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus ipsam, accusantium, minus odit voluptatem quasi doloremque dolorem, quidem vitae labore! Laudantium odit necessitatibus quas quaerat quo aperiam unde accusamus!
        Tenetur nisi doloremque earum repellat impedit! Deleniti natus aspernatur non, corrupti dolore modi voluptates pariatur voluptate perferendis aliquam. Quo esse similique quos ipsum illum aspernatur, deleniti laborum officia qui ut!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi, sequi ad saepe corporis veniam officia officiis at, voluptates obcaecati nemo autem excepturi, quam debitis tempora. Nam, eos ducimus? Debitis.
        Aliquid vitae, ut facilis tempora officiis quia praesentium. Quaerat, laboriosam incidunt vero ea doloremque consequuntur odio veritatis eum sint voluptas totam voluptates corrupti modi labore architecto sunt fugiat dicta unde!
    </p>
{% endblock %}
