{% extends 'layout.html' %}

{% block title %}Gerador de CNPJ{% endblock %}

{% block main %}
    <form action="/" method="POST" class="form">
        <div class="input-container">
            <label class="form-label" for="input-cnpj">Quantidade de CNPJ</label>
            <input class="form-input" type="number" name="input-cnpj" id="input-cnpj" min="1" step="1" placeholder="" required>
        </div>

        <button type="submit" class="form-btn-submit">
            Enviar
        </button>
    </form>
{% endblock %}
